<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='globals.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Sobre Nós</h1>
    </header>
    <main>
        <div>
        <legend>marta</legend>
        <hr>
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non amet dolore voluptas ducimus quam sint sequi? Aliquam, suscipit. Atque quia excepturi earum quisquam soluta enim ullam assumenda iusto mollitia fugiat!
        Libero excepturi sunt error, laborum laudantium, deleniti non nobis ex rerum quod beatae dolorem natus eaque quo ipsa veritatis! Repudiandae perspiciatis dolor molestias similique id repellat consectetur ratione tenetur reprehenderit.
        Assumenda quo dolorum incidunt excepturi repellendus, qui repellat sed sapiente amet natus omnis, obcaecati dolorem praesentium voluptas, consequatur odit iure nihil placeat itaque ex eaque? Fuga aperiam officia ab facere!</article>
        </div>
        <div>
        <legend>camila</legend>
        <hr>
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non amet dolore voluptas ducimus quam sint sequi? Aliquam, suscipit. Atque quia excepturi earum quisquam soluta enim ullam assumenda iusto mollitia fugiat!
            Libero excepturi sunt error, laborum laudantium, deleniti non nobis ex rerum quod beatae dolorem natus eaque quo ipsa veritatis! Repudiandae perspiciatis dolor molestias similique id repellat consectetur ratione tenetur reprehenderit.
            Assumenda quo dolorum incidunt excepturi repellendus, qui repellat sed sapiente amet natus omnis, obcaecati dolorem praesentium voluptas, consequatur odit iure nihil placeat itaque ex eaque? Fuga aperiam officia ab facere!</article>
        </div>
        <div>
        <legend>fernanda</legend>
        <hr>
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non amet dolore voluptas ducimus quam sint sequi? Aliquam, suscipit. Atque quia excepturi earum quisquam soluta enim ullam assumenda iusto mollitia fugiat!
            Libero excepturi sunt error, laborum laudantium, deleniti non nobis ex rerum quod beatae dolorem natus eaque quo ipsa veritatis! Repudiandae perspiciatis dolor molestias similique id repellat consectetur ratione tenetur reprehenderit.
            Assumenda quo dolorum incidunt excepturi repellendus, qui repellat sed sapiente amet natus omnis, obcaecati dolorem praesentium voluptas, consequatur odit iure nihil placeat itaque ex eaque? Fuga aperiam officia ab facere!</article>
        </div>
    </main>
    <footer><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit facere asperiores provident recusandae ullam amet eum cumque non libero, vero consequatur suscipit inventore debitis corrupti iure ipsum! Impedit, ipsam perferendis.</p></footer>
</body>
</html>