<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='globals.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>SystemSoftZaya</h1>
        
    </header>
    <main>
    <hr>
    <blockquote>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum necessitatibus esse soluta, cupiditate expedita ea rerum enim rem, corrupti dolorem non numquam iusto obcaecati veritatis? Laudantium eaque eveniet explicabo pariatur.
        Culpa explicabo, excepturi voluptas qui aliquam velit cum. Iusto unde neque temporibus! Enim libero debitis unde, facere nesciunt saepe dicta, non quidem, ex ipsam voluptatem adipisci quaerat similique? Repudiandae, illum?
        Fugit sit at eos ea facilis minus ut, nam a quae dignissimos quis, est placeat necessitatibus mollitia. Ipsum unde laborum corporis. Vero consequuntur ea ad repellat debitis explicabo recusandae ipsa?
        In dignissimos voluptatem quis dolores minima doloribus culpa, architecto alias officiis molestiae vero magni placeat nulla nobis praesentium ipsum assumenda, corporis quidem eligendi beatae ex, laborum quos. Perspiciatis, libero rem.
        Velit temporibus facere voluptate laborum. Numquam, odit. Similique maxime dolor doloremque eligendi ullam quis eaque. Veniam maiores culpa provident, accusamus molestias excepturi, rem adipisci nemo, quaerat accusantium saepe repellendus laborum!
        Exercitationem, veniam. Rem blanditiis quos quidem quo, similique iste deleniti corrupti at obcaecati excepturi, ex beatae suscipit in reiciendis totam dolores saepe pariatur? Dignissimos ea aliquid porro fugit cupiditate perspiciatis?
        Veritatis non at, quae explicabo deserunt rem odit ullam consectetur ducimus accusamus? Atque beatae veritatis adipisci perspiciatis saepe odit quod, repellat molestiae excepturi. Odio obcaecati, fuga voluptates molestiae libero voluptate?
        Aliquid doloremque non aut repudiandae adipisci expedita! Tenetur, similique! Aut, quo at minus vitae natus itaque officia cumque pariatur, consequatur maxime dolorem ducimus repudiandae harum voluptatum labore non error repellat.
        Vitae eum perferendis maiores eos minus eius blanditiis officiis accusantium sit voluptatem dignissimos ipsa, error omnis consequuntur atque autem deleniti iste illum doloremque voluptas sed iusto? Quas, tenetur! Incidunt, voluptas?
        Maiores atque eligendi dicta praesentium possimus quibusdam quidem omnis delectus nemo ullam, quae voluptatibus aspernatur rem quam. Fuga neque a qui numquam laudantium quos, culpa esse cupiditate eaque vitae beatae!

    </blockquote>
    </main>
    <footer>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum praesentium quos nihil quis, excepturi autem, recusandae porro enim perspiciatis consectetur totam! In tempora at accusamus nemo cupiditate dicta unde amet!</p>
    </footer>

</body>
</html>