<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='globals.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='usuario.css') }}">

    <title>Document</title>
</head>
<body>
   
   <header>
    <h1>SystemSoftZaya</h1>
</header>
<main>
    <figure>
        <div>
        <h2> {{ nome_usuario}}</h2>
        <img src="/static/assets/pexels-miguel-cuenca-67882473-29796580.jpg" alt="tico-tico">
        
    </figure>
    <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus repellat, facilis harum inventore corrupti eum quis blanditiis aspernatur atque. Nihil necessitatibus nesciunt iste rem autem voluptatibus ut deleniti facilis dolores.
    Porro accusantium alias iusto ea soluta nisi nobis aspernatur rerum ut perspiciatis veniam quod recusandae ipsam, reiciendis expedita, dolor beatae similique numquam at magnam quisquam eos. Corporis nam nihil totam?
    Quas aut veniam, culpa quae officia, odio porro nemo minus enim facere corporis dicta odit, ex soluta alias nam! Sed animi a, culpa ex inventore itaque totam magnam voluptatibus deserunt.
    Iure quaerat corporis vel ea eos? Recusandae optio nesciunt aspernatur accusantium quos beatae ratione molestias iure odit necessitatibus veniam, quasi facilis fuga impedit debitis, autem vero laboriosam rem alias dolore.
    Tenetur unde nobis ex nihil ipsam minus neque nam! Fugiat repudiandae rem possimus, magnam libero, pariatur eum necessitatibus earum iure saepe nulla dignissimos harum sunt expedita? Quae eveniet maxime aperiam!</article>
</main>
<footer>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quos illo veritatis voluptatem natus nesciunt, ab omnis in, deleniti nemo necessitatibus magni quae ipsam veniam accusantium rerum delectus eaque cumque?</p>
</footer>
</body>
</html>